body{
}

/*Bootstrap Overrides*/

.navbar{
    margin-bottom:0;
}

/*Custom Overrides*/
.no-padding-left
{
    padding-left:0;
}

.no-padding-right{
    padding-right:0;
}

.no-padding-top{
    padding-top:0;
}

.no-padding-bottom{
    padding-bottom:0;
}

.no-margin-left
{
    margin-left:0;
}

.no-margin-right{
    margin-right:0;
}

.no-margin-top{
    margin-top:0;
}

.no-margin-bottom{
    margin-bottom:0;
}

.font-family-Hallelujah{
    font-family: "Gloria Hallelujah";
}

.display-block{
    display:block;
}

.display-inline-block{
    display:inline-block;
}

.text-align-center{
    text-align:center;
}

.user-name{
     font-size:20px;
     font-weight:bold;
}

.user-designation{
    font-size:16px;
    font-weight:normal;
}

.navbar-default {
    background-color: #d6f4be;
    /*border-bottom: 1px solid #546b4b;*/
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: inherit;
    border: none;
}

.navbar-default .navbar-toggle {
    background: inherit;
    border: none;
}

 .navbar-default .navbar-toggle .icon-bar {
     background-color: #6f6c02;
     font-weight: bold;
 }

.navbar-default .navbar-nav > li > a {
    color: #6f6c02;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover {
    font-style: italic;
    transition: all .25s linear;
}

.cursor-pointer {
    cursor: pointer;
}

.custom-padding-left-5 {
    padding-left: 10px;
}

.custom-padding-right-5 {
    padding-right: 10px;
}


/*courolo*/




 
