body{
}

/*Bootstrap Overrides*/

.navbar{
    margin-bottom:0;
}

/*Custom Overrides*/
.no-padding-left
{
    padding-left:0;
}

.no-padding-right{
    padding-right:0;
}

.no-padding-top{
    padding-top:0;
}

.no-padding-bottom{
    padding-bottom:0;
}

.no-margin-left
{
    margin-left:0;
}

.no-margin-right{
    margin-right:0;
}

.no-margin-top{
    margin-top:0;
}

.no-margin-bottom{
    margin-bottom:0;
}

.font-family-Hallelujah{
    font-family: "Gloria Hallelujah";
}

.display-block{
    display:block;
}

.display-inline-block{
    display:inline-block;
}

.text-align-center{
    text-align:center;
}

.user-name{
     font-size:20px;
     font-weight:bold;
}

.user-designation{
    font-size:16px;
    font-weight:normal;
}

.title-color{
    color:#2b34cd;
}

.mute-color{
  color:#cccccc;
}

 
