@{
    ViewBag.Title = "Home Page";
}

@section Styles
{
    <link rel="~/Content/Site.css" />
}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
}

<div class="content-title col-xs-12 no-padding-left no-padding-right>
    <span>  Hello World!!!, This is the test page to  test the Layout Engines of the MVC.</span>
</div>

<div class="content-citation col-xs-12 no-padding-left no-padding-right">
    Shekhar Pankaj
</div>

<div class="col-xs-12 no-padding-left no-padding-right ">
    <span>When Life gives you lemon! Make Lemonde</span>
    <pre>
    <span>
      Hello Test
    </span>
    <code>
     Console.Writeline("Hello World");
        <\br>
        Console.WriteLine("Printf Not enabled in C#")
    </code>
    </pre>
</div>