@{
    ViewBag.Title = "Home Page";
}

@section Styles
{
    <link rel="~/Content/Site.css" />
}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
}

<div>
    Hello World!!!, This is the test page to  test the Layout Engines of the MVC.
</div>