

div#divLogoWrapper {
    height: 50px;
    display: table;
}

#divLogoWrapper {
    display: table;
    min-height: 50px;
}

#divHeadWrapper {
    box-shadow: 0 1px 15px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12) !important;
}

div#divLogoWrapper > i {
    width: 40px;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    font-size: 24px;
    color: #6f6c02;
}


div#divLogoWrapper > span {
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    font-size: 24px;
    color: #6f6c02;
}

div#divContentWrapper {
    margin-top: 50px;
}

    div#divContentWrapper #divUserQuickFollowButtons span.quick-subscribe-thumbnail {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        display: inline-block;
        cursor: pointer;
         animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
    }

     div#divContentWrapper #divUserQuickFollowButtons span.quick-subscribe-thumbnail i
     {
            font-size: 19px;
            height: 100%;
            width: 100%;
            padding-top: 23%;
     }

      

    div#divContentWrapper #divUserQuickFollowButtons {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }


#divContentWrapper .img-rounded {
    width: 100px;
    height: 100px;
    border-radius: 50px !important;
    display: block;
    margin: auto;
}



#divSubContentWrapper {
    transition: all .25s linear;
}



span.quick-subscribe-thumbnail:hover
{
     cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

/*Oveerides for Media screens*/

@media only screen and (max-width: 768px) {
    #divLogoWrapper {
        position: absolute;
    }
}

@media only screen and (min-width: 992px) {
    #divLeftAside {
        height: 93.2vh;
        position: fixed;
    }

    #divSubContentWrapper {
        margin-left: 25%;
        transition: all .25s linear;
    }

   #divLeftAside > div:nth-child(2) {
    position: absolute;
    width: 100%;
    animation: slide-bottom;

     animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}
}

