div#divLogoWrapper {
    height: 50px;
    display: table;
}

#divLogoWrapper{
    display: table;
    min-height: 50px;
}

#divHeadWrapper{
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

div#divLogoWrapper > i{
    width: 40px;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    padding-left:15px;
    font-size: 24px;
    color: #6f6c02;
}


div#divLogoWrapper > span {
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    padding-left:15px;
    font-size: 24px;
    color: #6f6c02;
}

div#divContentWrapper {
    margin-top: 50px;
}

div#divContentWrapper #divUserQuickFollowButtons span.quick-subscribe-thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display:  inline-block;
    cursor: pointer;
}

div#divContentWrapper #divUserQuickFollowButtons span.quick-subscribe-thumbnail i {
    color: #ffffff;
    font-size: 19px;
    height: 100%;
    width: 100%;
    padding-top: 23%;
}

div#divContentWrapper #divUserQuickFollowButtons span.quick-subscribe-thumbnail.facebook-handler {
    background: #3b5998;
}

div#divContentWrapper #divUserQuickFollowButtons span.quick-subscribe-thumbnail.instagram-handler{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

div#divContentWrapper #divUserQuickFollowButtons span.quick-subscribe-thumbnail.twitter-handler {
    background: #00aced;
}

div#divContentWrapper #divUserQuickFollowButtons span.quick-subscribe-thumbnail.linkedin-handler {
    background: #007bb6;
}

div#divContentWrapper #divUserQuickFollowButtons span.quick-subscribe-thumbnail.google-plus-handler {
    background: #dd4b39;
}

div#divContentWrapper #divUserQuickFollowButtons span.quick-subscribe-thumbnail.quora-handler {
    background: #dd4b39;
}

div#divContentWrapper #divUserQuickFollowButtons span.quick-subscribe-thumbnail.github-handler {
    background: #000000;
}

div#divContentWrapper #divUserQuickFollowButtons{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}


#divContentWrapper .img-rounded {
    width: 100px;
    height: 100px;
    border-radius: 50px !important;
     display:block;
    margin:auto;
}

.navbar-default{
    background-color:#d6f4be;
    /*border-bottom: 1px solid #546b4b;*/
}

.cursor-pointer{
    cursor:pointer;
}

/*Oveerides for Media screens*/
@media only screen and (max-width: 767px) {
    #divLogoWrapper
    {
        position: absolute;
    }
}


